<div class="text-center">
  <div class="container">

  <p id="notice"><%= notice %></p>

    <div class="row">

    </div>

    <h1>
      <%= @post.title %>
    </h1>

    <p class="col-12">
      <%= @post.content %>
    </p>

    <p><%= link_to '戻る', posts_path,class: "btn btn-outline-secondary" %></p>

  </div>
</div>
